:root {
  font-family: 'Press Start 2P', 'JetBrains Mono', 'Fira Code', 'Source Code Pro', Menlo, Consolas, 'Courier New', monospace;
  line-height: 1.4;
  font-weight: 400;
  color: #00ff66;
  background-color: #000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  color: #00ff66;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: inherit;
}
